body {
  padding: 0;
  margin: 0;
  text-align: center;
  background-image: linear-gradient(to right, #16BFFD,#CB3066);
}

body * {
  margin-bottom: 5vh;
}

.icon {
  min-width: 300px;
  max-width: 300px;
}

h1 {
  font-family: "Lobster", cursive;
}

.temp,
.deg,
.humid,
span,
.weather {
  font-size: 2rem;
  font-family: "Permanent Marker", cursive;
}

.convert {
  padding: 1.3rem;
  border-radius: 5%;
  background-image: linear-gradient(-90deg, #4DA0B0, #D39D38);
  font-size: 2rem;
  font-family: "Permanent Marker", cursive;
  box-shadow: 5px 10px 8px #888888;
}

input {
  padding: .3rem;
  border: 2px solid black;
}